<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975647154897-msbptjjr7obl9umhoacti3o50l2s3ka7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975647154897-msbptjjr7obl9umhoacti3o50l2s3ka7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>975647154897-b72hk8oue8ekpj6hefch0ip3olnvihg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBP-Gqiljy0WXznyl4lY-q4Kzph7YbbkAk</string>
	<key>GCM_SENDER_ID</key>
	<string>975647154897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>elonapp</string>
	<key>STORAGE_BUCKET</key>
	<string>elonapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975647154897:ios:039eddd33f310367375bf0</string>
	<key>DATABASE_URL</key>
	<string>https://elonapp.firebaseio.com</string>
</dict>
</plist>